{{#resume.basics}}
	<div class="row">
		<div class="col-md-8 offset-md-2 header">
			<h1 class="">{{name}}</h1>
			<h2 class="">{{label}}</h2>
		</div>
	</div>
	<section id="basics">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="contact">
					{{#if (or website email phone summary) }}
						<h3>Contact</h3>
					{{/if}}
					{{#if website}}
					<div class="website">
						<strong>Website</strong>
						<a href="{{website}}">{{website}}</a>
					</div>
					{{/if}}
					{{#if email}}
					<div class="email">
						<strong>Email</strong>
						{{email}}
					</div>
					{{/if}}
					{{#if phone}}
					<div class="phone">
						<strong>Phone</strong>
						{{phone}}
					</div>
					{{/if}}
					</div>
					{{#if summary}}
					<div class="summary">
						<p>{{summary}}</p>
					</div>
					{{/if}}
					{{#location}}
					<h3>Location</h3>
					<section id="location">
						{{#if address}}
						<div class="address">
							<strong>Address</strong>
							{{address}}
						</div>
						{{/if}}
						{{#if postalCode}}
						<div class="postalCode">
							<strong>Postal code</strong>
							{{postalCode}}
						</div>
						{{/if}}
						{{#if city}}
						<div class="city">
							<strong>City</strong>
							{{city}}
						</div>
						{{/if}}
						{{#if countryCode}}
						<div class="countryCode">
							<strong>Country</strong>
							{{countryCode}}
						</div>
						{{/if}}
						{{#if region}}
						<div class="region">
							<strong>Country</strong>
							{{region}}
						</div>
						{{/if}}
			</section>
			{{/location}}
			{{#if profiles.length}}
					<h3>Profiles</h3>
					<section id="profiles">
						{{#each profiles}}
						<div class="item">
							{{#if network}}
							<strong class="network">
								{{network}}
							</strong>
							{{/if}}
							{{#if username}}
							<div class="username">
								{{#if url}}
								<div class="url">
									<a href="{{url}}">{{username}}</a>
								</div>
								{{else}}
									{{username}}
								{{/if}}
							</div>
							{{/if}}

						</div>
						{{/each}}
					</section>
			{{/if}}
			</div>
		</div>
	</section>
{{/resume.basics}}
